<footer class="footer">
  <small>
    <a href="http://lit-oasis-8611.herokuapp.com/">CNN Scraper</a>
    by Wasswa Samuel
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://cnn.com/">News</a></li>
    </ul>
  </nav>
</footer>